
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.Container {
   display:flex;
   height: 100vh;
  .functionalities-block {
    width:100%;
    display: flex;
    flex-direction: column;
    background-color:red;

    header.details {
      display: flex;
      padding: 0px 20px;
      background: green;
      justify-content: space-between;
      align-items: center;

      h2 {
        text-align:center;
      }
    }

    .control-block {
      width: 100%;
      height: 100%;
      display: flex;
      
      section.side-area {
        width: 20%;
        height: 100%;
        background: yellow;
      }
      main.content {
        width: 100%;
        height: 100%;
        display:flex; 
        flex-direction: column;
        justify-content:center;
        align-items:center;
        background: purple;
        .app-content {
          background: white;
          width: 35%;
          height: 85%;
          border-radius: 10px;
        }
      }
    }
  }
  .control-settings {
    width: 20%;
    background-color:blue;
    height: 100%;
  }
}

