
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.Container {
   display:flex;
   height: 100vh;
   
  .functionalities-block {
    width:100%;
    display: flex;
    flex-direction: column;
    background-color:#504E4D;

    .control-block {
      width: 100%;
      height: 100%;
      display: flex;
      
      section.side-area {
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        background:#434141;
        flex-direction: column;

        a.block {
          width: 70%;
          height: 15%;
          border-radius: 5px;
          border: 1px solid #313030;
          background: radial-gradient(#494847, #504E4D);
          color: white;
          margin-top: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          text-decoration: none;

          margin-bottom: 15px;
        }
      }

      main.content {
        width: 100%;
        height: 100%;
        display:flex; 
        flex-direction: column;
        justify-content:center;
        align-items:center;
        background: #504E4D;
        
        span.title-logo {
          font-size: 1.5rem;
          font-weight: bold;
          color: #FD11F3;
        }

        .app-content {
          background: white;
          width: 35%;
          height: 85%;
          border-radius: 10px;
        }

        .code-view {
          color: #ababff;
        }
      }
    }
  }
  .control-settings {
    width: 20%;
    background-color:#434141;
    height: 100%;
  }
}

