body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.Container {
   display:flex;
   height: 100vh;
  .Content {
    width:100%;
    background-color:red;
  }
  .Settings {
    width:50%;
    background-color:blue;
  }
}

